apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: devsecjobs
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:

      initContainers:
        - name: wait-for-mysql
          image: busybox:1.36
          command:
            - sh
            - -c
            - |
              echo "Waiting for MySQL DNS..."
              until nslookup mysql-service.devsecjobs.svc.cluster.local >/dev/null 2>&1; do
                echo "DNS not ready yet..."; sleep 2;
              done

              echo "Waiting for MySQL port 3306..."
              until nc -z mysql-service.devsecjobs.svc.cluster.local 3306; do
                echo "MySQL not ready yet..."; sleep 2;
              done

              echo "MySQL is up!"

      containers:
        - name: backend
          image: ymashiach139/my-app-backend:2
          ports:
            - containerPort: 5001

          envFrom:
            - configMapRef:
                name: backend-config
            - secretRef:
                name: db-credentials
            - secretRef:
                name: jwt-secret

          env:
            - name: DATABASE_URL
              value: "mysql+pymysql://$(DB_USER):$(DB_PASSWORD)@$(DB_HOST):3306/$(DB_NAME)?charset=utf8mb4"


          livenessProbe:
            httpGet:
              path: /health
              port: 5001
            initialDelaySeconds: 20
            periodSeconds: 20

          readinessProbe:
            httpGet:
              path: /health
              port: 5001
            initialDelaySeconds: 10
            periodSeconds: 10

          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
